{% extends 'core/base.html' %}

{% block title %}Home | {% endblock %}

{% block content %}
<body>
   <main>
    <section class="main-content">
      <img src="static/images/website_main_img.png" alt="Image description" class="main_image">
      <h1 id="main_title"> Nota Tech&#8595;</h1>

      <div id="fp-info-container">
        <h2 id="fp-info"> 
          <ul>
            <li>Engineering</li>
            <li>Tech</li>
            <li>Lifestyle</li>
            <li>Art & Gaming</li>
          </ul> 
        </h2>
      </div>

    </section>

 

    <section class="main-content">
      <div class="containers reveal">
        <h2 class="fp-titles">In a nutshell&#8595;</h2>
        <div class="text-container">
          <div class="text-box" id="text-box-id">
            <h3 class="text-box-title">ASICs Design Engineer</h3>
            <p class="fp-text-box">
              <span class="hidden">At the the moment, I work in physical design and have executed numerous</span>
              <span class="hidden">projects from Netlist to GDSII. I've also worked on the development</span>
              <span class="hidden">of various process nodes including;</span>
              <span class="hidden">40, 28 and 14nm (FinFet) technologies 👨🏽‍💻</span>
            </p>
          </div>
          <div class="text-box" id="text-box-id">
            <h3 class="text-box-title">Hardware and Software</h3>
            <p class="fp-text-box">
              <span class="hidden">My skills and interests are diverse, ranging from hardware implementation and sign-off</span>
              <span class="hidden">programming/scripting, AI and security</span>
              <span class="hidden">See <a href="/post_list" title="Blog">Notas.blog</a> for current projects.</span>
              <span class="hidden"> Or check out my <a href="https://github.com/Nota100110" title="Github"><i>github</i></a> &#128187;</span>
            </p>
          </div>
          <div class="text-box" id="text-box-id">
            <h3 class="text-box-title">Open-Source advocate</h3>
            <p class="fp-text-box">
            <span class="hidden">Open source licensing encourages innovation through collaboration. Without it, many of the</span> 
            <span class="hidden">technologies we take for granted today would never have developed, or would be locked away</span> 
            <span class="hidden">behind patent law.</span>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="main-content">
      <div class="containers reveal">
        <h2 class="fp-titles">Latest Projects&#8595;</h2>
        <div class="text-container" id="projects_container">
          <section class="blog_preview">

              <div class="blog_col">
                <img src="{{ posts.image.url }}" alt="{{ posts.image.alt }}" class="img-responsive" />
              </div>

              <article class="blog_col">
                  {# rendering blog posts here; #}
            
                  <h2 class="title"><a href="{% url 'post_detail' posts.slug %}" style="color: purple">{{ posts.title }}</a></h2>
            
                  <section class="">
                      <p ><strong>{{ posts.intro|safe|striptags|truncatechars:400 }}</strong></p>
            
                      <a href="{% url 'post_detail' posts.slug %}" style="color: green">Read more...</a>
            
                  </section>
              </article>

          </section>
        </div>
      </div>
    </section>

    <section class="main-content">
      <div class="containers reveal">
        <h2 class="fp-titles">Creative Projects...</h2>
        <div class="text-container">
          <div class="text-box" id="text-box-id">
            <h3 class="text-box-title">Artwork</h3>
            <p class="fp-text-box">
              <span class="hidden">I use procreate to make digital art 🎨 follow my <a href="https://www.instagram.com/ibti.shakes/" title="inst"><i>insta</i></a></span>
            </p>
          </div>
          <div class="text-box" id="text-box-id">
            <h3 class="text-box-title">Gaming/Streaming</h3>
            <p class="fp-text-box">
              <span class="hidden">I am a Gamer, PC enthusiast 🎮, here's a link to my twitch <a href="https://www.twitch.tv/mizzmaki" title="Twitch"><i>Twitch Page</i></a> </span>
          </div>
          <div class="text-box" id="text-box-id">
            <h3 class="text-box-title">Writer</h3>
            <p class="fp-text-box">
              <span class="hidden">I write, check out <a href="https://medium.com/@notanerd1317" title="Medium"><i>medium page</i></a> for technical writing and more</span>
              <span>there is of course my blog too 📝</span>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- social media -->
  <div class="brand_wrapper">
    <a href="/post_list" title="Blog"><i class="fa fa-rss aria-hidden=true"></i></a>
    <a href="https://medium.com/@notanerd1317" title="Medium"><i class="fa fa-medium aria-hidden=true"></i></a>
    <a href="https://github.com/Nota100110" title="Github"><i class="fa fa-github aria-hidden=true"></i></a>
    <a href="https://twitter.com/NotaNerd011001" title="Twitter"><i class="fa fa-twitter aria-hidden=true"></i></a>
    <a href="https://www.instagram.com/ibti.shakes/" title="Instagram"><i class="fa fa-instagram aria-hidden=true"></i></a>
    <a href="/" title="Email"><i class="fa fa-at aria-hidden=true"></i></a>
    <a href="https://www.twitch.tv/mizzmaki" title="Twitch"><i class="fa fa-twitch aria-hidden=true"></i></a>
    <a href="http://linkedin.com/in/ibtisam-s-0448aa1b6" title="Linkedin"><i class="fa fa-linkedin aria-hidden=true"></i></a>
  </div>

  <!--footer-->
  <footer class="footer">
    <div class="text-center">Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights Reserved. Web Design by NotaTech inc  &#10024;</div>
  </footer>
</body>

{% endblock %}
